@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  @apply relative z-10 bg-gradient-to-br from-zinc-50/100 to-blue-100/100;
}

body::after,
body::before {
  content: '';
  filter: blur(78px);
  @apply fixed -z-10 w-[540px] h-[540px] rounded-full;
}

body::after {
  @apply animate-vibrate-1 top-[8%] left-[8%] bg-blue-500 opacity-20;
}

body::before {
  @apply animate-vibrate-2 top-[40%] left-[57%] bg-yellow-500 opacity-15;
}
